<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fnn="http://typo3.org/ns/Fnn/FnnAmt24/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
	<f:debug title="Cleanup.html"></f:debug>
	
	<f:if condition="{result}">
		<f:then>
		    <script>
		         top.TYPO3.Notification.success('Ok', 'Läuft!');
		    </script>
			<div class="container">
		        <h1>Cleaned up xxx</h1>
		    </div>
		</f:then>
		<f:else>
		    <script>
		         top.TYPO3.Notification.error('Error', 'Iwas ging schief!');
		    </script>
			<div class="container">
		        <h1>Something went wrong</h1>
		    </div>
		</f:else>
	</f:if>

    
    
</f:section>

</html>