<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
	<div class="spl-cleanup-tools-be-module">
		<div class="container">
			<div class="row">
				<h1><f:translate key="{localizationFile}:module.headline"/></h1>
				<f:for each="{services}" as="service" iteration="iterator">
					<f:for each="{service.methods}" as="method">
						<f:render partial="Item" arguments="{localizationFile:localizationFile,serviceAction:method.method,serviceName:service.name,serviceColor:service.color,parameters:method.parameters}" />
					</f:for>
				</f:for>
			</div>
		</div>
	</div>
</f:section>

</html>