<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <div class="spl-cleanup-tools-be-module">
        <div class="container">
            <div class="row">
                <h1>
                    <f:translate key="LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.headline"/>
                </h1>
                
                <div class="card-container">
                    <f:for each="{services}" as="service" iteration="iterator">
                        <f:render partial="Cleanup/Item" arguments="{localizationFile:localizationFile,service:service}"/>
                    </f:for>
                </div>
            </div>
        </div>
    </div>
</f:section>

</html>