<div class="row">
	<div class="item">
		<div class="col-xs-2">
			{backup.originalUid}
		</div>
	
		<div class="col-xs-3">
			{backup.table}
		</div>
	
		<div class="col-xs-3">
			<f:format.date format="d.m.Y - h:i">{backup.crdate}</f:format.date>
		</div>
	
		<div class="col-xs-3">
			{backup.cruserId}
		</div>
	
		<div class="col-xs-1">
			<f:link.action class="btn btn-primary" extensionName="SplCleanupTools" controller="Backup" action="importDb"><f:translate key="{localizationFile}:module.backup.item.import.title" /></f:link.action>
		</div>
	</div>
</div>