<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.pageRenderer includeRequireJsModules="{0:'TYPO3/CMS/SplCleanupTools/ToolbarActions'}" />

<h3 class="dropdown-headline">
	<f:translate key="LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:toolbar.title" />
</h3>
<hr>
<div class="dropdown-table">
	<f:for each="{cleanupActions}" as="cleanupAction">
		<div class="dropdown-table-row">
			<a href="#" class="toolbar-cache-flush-action" onclick="{cleanupAction.onclickCode}">
				<div class="dropdown-table-column dropdown-table-column-top dropdown-table-text">
					<f:translate key="{cleanupAction.title}" />
					<br>
					<small class="text-muted">{f:translate(key: '{f:if(condition: cleanupAction.description, then: cleanupAction.description, else:
						cleanupAction.title)}')}
					</small>
				</div>
			</a>
		</div>
	</f:for>
</div>

</html>
