<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<h3 class="dropdown-headline">
	CleanUp Tools
</h3>
<hr>
<div class="dropdown-table">
	<div class="dropdown-table-row">
		<div class="dropdown-table-column dropdown-table-title">
			<a href="#" data-link="" title="">
				Herbert
			</a>
		</div>
	</div>
	<div class="dropdown-table-row">
		<div class="dropdown-table-column dropdown-table-title">
			<a href="#" data-link="" title="">
				Norbert
			</a>
		</div>
	</div>
</div>
</html>
