<f:variable name="labelYes">
    <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:label.yes"/>
</f:variable>
<f:variable name="labelNo">
    <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:label.no"/>
</f:variable>

<div class="form-group">
    <label for="{serviceMethod}-{name}" class="form-check-label">
        <f:translate key="{localizationFile}:label.{name}"/>
    </label>
    <f:switch expression="{default}">
        <f:case value="true">
            <f:form.select id="{service}-{name}" name="parameters[{name}]" options="{0: labelNo, 1: labelYes}" class="form-control" value="1" />
        </f:case>
        <f:defaultCase>
            <f:form.select id="{service}-{name}" name="parameters[{name}]" options="{0: labelNo, 1: labelYes}" class="form-control" value="0" />
        </f:defaultCase>
    </f:switch>
</div>