<f:form class="card card-size-fixed-small" action="cleanup" controller="Cleanup" method="post" enctype="multipart/form-data">
	<div class="card-header">
		<f:form.hidden name="serviceMethod" value="{serviceMethod}" />
		<div class="card-title"><f:translate key="{localizationFile}:label.{serviceMethod}"/></div>
		<span>{serviceName}</span>
	</div>
	<div class="card-body">
		<f:for each="{parameters}" as="parameter">
			<f:if condition="{parameter.type}">
				<f:render partial="FormFields/{parameter.type}" arguments="{localizationFile: localizationFile,serviceMethod: serviceMethod, name: parameter.name, label: parameter.label}" />
			</f:if>
		</f:for>
	</div>
	<div class="card-footer">
		<div class="item last-log text-muted">
			<f:if condition="{lastLog}">
				<f:then>
					<f:switch expression="{daysSince}">
						<f:case value="0">
							<f:variable name="lastLogTime"><f:format.date date="{lastLog.crdate}" format="h:i" /></f:variable>
							<f:translate key="{localizationFile}:module.lastLog.today" arguments="{0:lastLogTime}" /><br/>
						</f:case>
						<f:case value="1">
							<f:translate key="{localizationFile}:module.lastLog.yesterday" /><br/>
						</f:case>
						<f:defaultCase>
							<f:translate key="{localizationFile}:module.lastLog.days" arguments="{0:daysSince}" /><br/>
						</f:defaultCase>
					</f:switch>

					<f:if condition="{lastLog.cruser}">
						<f:translate key="{localizationFile}:module.lastLog.user" />

						<f:if condition="{lastLog.cruser.realName}">
							<f:then>
								{lastLog.cruser.realName}
							</f:then>
							<f:else>
								{lastLog.cruser.userName}
							</f:else>
						</f:if>
					</f:if>
				</f:then>
				<f:else>
					<f:translate key="{localizationFile}:module.notProcessed" />
				</f:else>
			</f:if>
		</div>
		<div class="item button-container text-right">
			<f:variable name="submitLabel"><f:translate key="{localizationFile}:module.submit"/></f:variable>
			<f:form.submit name="submit" value="{submitLabel}" class="btn btn-primary" />
		</div>
	</div>
</f:form>