<f:form class="card card-size-fixed-small" action="cleanup" controller="Cleanup" method="post" enctype="multipart/form-data">
	<div class="card-header">
		<f:form.hidden name="serviceMethod" value="{serviceMethod}" />
		<div class="card-title"><f:translate key="{localizationFile}:label.{serviceMethod}"/></div>
		<span>{serviceName}</span>
	</div>
	<div class="card-body">
		<f:for each="{parameters}" as="parameter">
			<f:if condition="{parameter.type}">
				<f:render partial="FormFields/{parameter.type}" arguments="{localizationFile: localizationFile,serviceMethod: serviceMethod, name: parameter.name, label: parameter.label}" />
			</f:if>
		</f:for>
	</div>
	<div class="card-footer">
		<div class="item last-log text-muted">
			<div class="info-container">
				<f:if condition="{lastLog}">
					<f:then>
						<f:switch expression="{daysSince}">
							<f:case value="0">
								<f:variable name="lastLogTime"><f:format.date date="{lastLog.crdate}" format="H:i" /></f:variable>
								<f:translate key="LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.lastLog.today" arguments="{0:lastLogTime}" /><br/>
							</f:case>
							<f:case value="1">
								<f:translate key="LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.lastLog.yesterday" /><br/>
							</f:case>
							<f:defaultCase>
								<f:translate key="LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.lastLog.days" arguments="{0:daysSince}" /><br/>
							</f:defaultCase>
						</f:switch>

						<f:if condition="{lastLog.cruser}">
							<f:translate key="LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.lastLog.user" />

							<f:if condition="{lastLog.cruser.realName}">
								<f:then>
									{lastLog.cruser.realName}<br/>
								</f:then>
								<f:else>
									{lastLog.cruser.userName}<br/>
								</f:else>
							</f:if>
						</f:if>

						<f:variable name="inExecutionContext"><f:translate key="LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:tx_splcleanuptools.general.executioncontext.{lastLog.executionContext}" /></f:variable>
						<f:translate key="LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:tx_splcleanuptools.general.inExectionContext" arguments="{0:inExecutionContext}"/>
					</f:then>
					<f:else>
						<f:translate key="LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.menu.history:module.notProcessed" />
					</f:else>
				</f:if>
			</div>
		</div>
		<div class="item button-container text-right">
			<f:form.submit name="submit" value="{f:translate(key:'LLL:EXT:spl_cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.submit')}" class="btn btn-primary" />
		</div>
	</div>
</f:form>