<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
	
	<f:be.pageRenderer includeRequireJsModules="{0:'TYPO3/CMS/CleanupTools/CleanupTools'}"/>

    <div class="cleanup-tools-be-module history">
        <div class="container">
            <div class="row">
                <h1>
                    <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.headline"/>
                </h1>

                <table id="cleanup-tools-history-list" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>
                            <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.th.date"/>
                        </th>
                        <th>
                            <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.th.service"/>
                        </th>
                        <th>
                            <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.th.parameter"/>
                        </th>
                        <th>
                            <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.th.user"/>
                        </th>
                        <th>
                            <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.th.executionContext"/>
                        </th>
                        <th>
                            <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.th.state"/>
                        </th>
                        <th>
                            <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.th.messages"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:widget.paginate objects="{logs}" as="paginatedLogs" configuration="{itemsPerPage: 15, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 3}">
                    	<f:for each="{paginatedLogs}" as="log">
	                        <f:render partial="History/Log" arguments="{log:log}"/>
	                    </f:for>
                    </f:widget.paginate>
                    
                    </tbody>
                </table>
            </div>
            <div class="row">
                <f:form name="history-cleanup" class="cleanup-history-form" action="cleanup" controller="History">
                	<div class="form-group">
				    	<label for="log-lifetime-select"><f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.cleanupForm.label.logLiftime" /></label>
                    	<f:form.select name="logLifetime" id="log-lifetime-select" class="form-control input-sm">
                    		<f:for each="{logLifetimeOptions}" as="logLifetimeOption" key="key">
                    			<f:form.select.option value="{logLifetimeOption}">
                    				<f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.cleanupForm.label.logLiftime.{key}" />
                    			</f:form.select.option>
                    		</f:for>
                    	</f:form.select>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-danger"><f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.cleanupForm.label.submit" /></button>
                	</div>
                </f:form>
            </div>
</f:section>

</html>