<div class="row">
	<div class="item">
		<f:form class="form" action="cleanup" controller="Cleanup" method="post" enctype="multipart/form-data">
			<f:form.hidden name="utilityAction" value="{utilityAction}" />

			<div class="col-xs-5">
				<p class="headline"><f:translate key="{localizationFile}:label.{utilityAction}"/></p>
			</div>

			<div class="col-xs-3">
				<p class="utility main-color-dark" {f:if(condition:utilityColor, then:'style="background-color: {utilityColor}"')}>{utilityName}</p>
			</div>

			<div class="col-xs-3">
				<f:for each="{parameters}" as="parameter">
					<f:if condition="{parameter.formType}">
						<f:render partial="FormFields/{parameter.formType}" arguments="{localizationFile: localizationFile,utilityAction: utilityAction, name: parameter.name, label: parameter.label}" />	
					</f:if>
				</f:for>
			</div>

			<div class="col-xs-1">
				<f:variable name="submitLabel"><f:translate key="{localizationFile}:module.submit"/></f:variable>
				<f:form.submit name="submit" value="{submitLabel}" class="btn main-color main-color-hover" />
			</div>
		</f:form>
	</div>
</div>