<div class="col-sm-3">
    <h2>{task}</h2>
    <p>{utilityName}</p>

    <f:form action="cleanup" controller="Cleanup" method="post" enctype="multipart/form-data">
        <f:form.hidden name="utilityClass" value="{utilityClass}"/>
        <f:form.hidden name="utilityAction" value="{utilityAction}"/>

        <f:if condition="{updateReferenceIndex}">
            <div>
                <f:form.checkbox id="updateReferenceIndex" name="updateReferenceIndex" value="true"/>
                <label for="updateReferenceIndex">update reference index</label>
            </div>
        </f:if>

        <f:form.submit name="submit" value="Clean up" class="btn btn-primary"/>
    </f:form>
</div>