<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
	<div class="spl-cleanup-tools-be-module">
		<div class="container">
			<div class="row">
				<h1><f:translate key="{localizationFile}:module.backup.headline" /></h1>
				
				<div class="card-container">
					<f:render partial="Backup/Card" arguments="{localizationFile: localizationFile, title: 'module.backup.card.export.title', description: 'module.backup.card.export.description', image: '/typo3/sysext/install/Resources/Public/Icons/modules/install-database-analyze.svg', action: 'exportDb'}" />

					<f:render partial="Backup/Card" arguments="{localizationFile: localizationFile, title: 'module.backup.card.import.title', description: 'module.backup.card.import.description', image: '/typo3/sysext/install/Resources/Public/Icons/modules/install-database-analyze.svg', action: 'importDb'}" />
				</div>
			</div>
		</div>
	</div>
</f:section>

</html>