.cleanup-tools-be-module .card {
  position: relative;
  padding-bottom: 66px; }
  .cleanup-tools-be-module .card.no-footer {
    padding-bottom: 0; }
.cleanup-tools-be-module .card-header {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: right; }
  .cleanup-tools-be-module .card-header .card-title {
    color: rgba(0, 0, 0, 0.666);
    margin-bottom: 2px; }
.cleanup-tools-be-module .card-body {
  padding: 1rem; }
  .cleanup-tools-be-module .card-body .service-description {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc; }
  .cleanup-tools-be-module .card-body label {
    font-weight: normal; }
.cleanup-tools-be-module .card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  height: 66px;
  width: 100%; }
  .cleanup-tools-be-module .card-footer .item {
    position: relative;
    min-height: 100%; }
    .cleanup-tools-be-module .card-footer .item.last-log {
      width: 75%;
      font-size: 10px; }
      .cleanup-tools-be-module .card-footer .item.last-log .info-container {
        position: absolute;
        bottom: 0;
        left: 0; }
    .cleanup-tools-be-module .card-footer .item.button-container {
      width: 25%; }
      .cleanup-tools-be-module .card-footer .item.button-container .btn {
        position: absolute;
        bottom: 0;
        right: 0; }
.cleanup-tools-be-module .toggle-button {
  background: none;
  border: none; }
  .cleanup-tools-be-module .toggle-button.expanded .icon {
    transform: rotate(90deg); }
.cleanup-tools-be-module .toggle-container {
  display: none; }
.cleanup-tools-be-module.history .f3-widget-paginator {
  list-style-type: none;
  width: 100%;
  display: flex;
  padding: 0; }
  .cleanup-tools-be-module.history .f3-widget-paginator li {
    margin-right: 10px; }
    .cleanup-tools-be-module.history .f3-widget-paginator li.current {
      font-weight: bold; }
    .cleanup-tools-be-module.history .f3-widget-paginator li:last-of-type {
      margin-right: 0; }
.cleanup-tools-be-module.history .log-message {
  background-color: white; }
  .cleanup-tools-be-module.history .log-message td {
    border-top: 0; }
.cleanup-tools-be-module.history .cleanup-history-form {
  justify-content: space-between;
  background-color: #ededed;
  padding: 10px 20px; }
  .cleanup-tools-be-module.history .cleanup-history-form,
  .cleanup-tools-be-module.history .cleanup-history-form .form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 0; }
  .cleanup-tools-be-module.history .cleanup-history-form .form-group {
    padding-right: 25px; }
    .cleanup-tools-be-module.history .cleanup-history-form .form-group:last-of-type {
      padding-right: 0; }
    .cleanup-tools-be-module.history .cleanup-history-form .form-group label {
      width: 100%;
      margin-bottom: 0; }
      .cleanup-tools-be-module.history .cleanup-history-form .form-group label.form-check-label {
        margin-left: 10px; }
.cleanup-tools-be-module.info .card {
  box-shadow: none; }
.cleanup-tools-be-module.info .card-header {
  text-align: left; }
.cleanup-tools-be-module.info .toggle-button {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.cleanup-tools-preview-renderer {
  margin-top: 2rem; }
  .cleanup-tools-preview-renderer .display-flex {
    display: flex; }
    .cleanup-tools-preview-renderer .display-flex.center {
      justify-content: space-between;
      align-items: center; }
  .cleanup-tools-preview-renderer .alert-cleanuptools {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; }
  .cleanup-tools-preview-renderer .btn-cleanuptools {
    background-color: white;
    border-color: #f5c6cb; }

/*# sourceMappingURL=TxCleanupTools.css.map */
