<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<be:moduleLayout>

	<f:variable name="menuCleanup">{localizationFile}:module.menu.cleanup</f:variable>
	<f:variable name="menuHistory">{localizationFile}:module.menu.history</f:variable>
	
	<be:moduleLayout.menu identifier="SplCleanupToolsBackendModule">
		<be:moduleLayout.menuItem label="{f:translate(key: menuCleanup)}" uri="{f:uri.action(controller: 'Cleanup', action: 'index')}"/>
		<be:moduleLayout.menuItem label="{f:translate(key: menuHistory)}" uri="{f:uri.action(controller: 'History', action: 'index')}"/>
	</be:moduleLayout.menu>

	<f:render section="Content" />

</be:moduleLayout>

</html>