.cleanup-tools-preview-renderer {
	margin-top: $spacing*2;
	
    .display-flex {
        display: flex;

        &.center {
            justify-content: space-between;
            align-items: center;
        }
    }

    .alert-cleanuptools {
        color: $alertColor;
        background-color: $alertBackground;
        border-color: $alertBorder;
    }

    .btn-cleanuptools {
        background-color: white;
        border-color: $alertBorder;
    }
}