<tr class="logItem">
    <td>
        <f:format.date format="Y-m-d - H:i">{log.crdate}</f:format.date>
    </td>
    <td>
        {log.service}
    </td>
    <td>
        <f:for each="{log.parameters}" as="parameter"  key="key">
            {key}: {parameter}<br />
        </f:for>
    </td>
    <td>
        {log.cruser.userName}
    </td>
    <td>
        <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:tx_cleanuptools.general.executioncontext.{log.executionContext}"/>
    </td>
    <td>
        <f:if condition="{log.state}">
            <f:then>
                <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:tx_cleanuptools.general.state.ok"/>
            </f:then>
            <f:else>
                <f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:tx_cleanuptools.general.state.error"/>
            </f:else>
        </f:if>
    </td>
    <td>
    	<f:if condition="{log.messages}">
    		<f:then>
    			<button aria-label="{f:translate(key:'LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:aria.history.togglebutton')}" class="toggle-button" data-toggle="log-message-group-{log.uid}" aria-expanded="false" onclick="TYPO3.CleanupTools.toggleMessage(this)">
    				<span class="icon"><core:icon identifier="actions-move-down" size="small" /></span>
    			</button>
    		</f:then>
    		<f:else>
    		-
    		</f:else>
    	</f:if>
    </td>
</tr>

<f:if condition="{log.messages}">
    <f:for each="{log.messages}" as="message" iteration="iterator">
        <tr class="toggle-container log-message log-message-group-{log.uid}">
            <td colspan="7">
                #{iterator.cycle} | 
            
                <f:if condition="{message.localLangKey}">
                    <f:then>
                        <f:translate key="{localizationFile}:{message.localLangKey}" arguments="{message.localLangArguments}" />
                    </f:then>
                    <f:else>
                        {message.message}
                    </f:else>
                </f:if>
            </td>
        </tr>
    </f:for>
</f:if>