<div class="service card no-footer">
    <div class="card-header">
       <button aria-label="{f:translate(key:'LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:aria.info.togglebutton')}" class="toggle-button" data-toggle="description-{service.name}" aria-expanded="false" onclick="TYPO3.CleanupTools.toggleMessage(this)">
	       <span class="card-title">{service.name}</span>
    		<span class="icon"><core:icon identifier="actions-move-down" size="small" /></span>
    	</button>
    </div>
    <div class="card-body toggle-container description description-{service.name}">
	    <f:variable name="descriptionKey">description.extended.{service.name}</f:variable>
        <p>
        	<ct:translate key="{descriptionKey}" />
        </p><br />
        <p>
        	<strong><f:translate key="LLL:EXT:cleanup_tools/Resources/Private/Language/locallang_mod.xlf:module.history.th.parameter" /></strong>
        	
        	<f:for each="{service.method.parameters}" as="parameter">
	            <f:if condition="{parameter.type}">
	            	<p>{parameter.name}: <ct:translate key="description.{parameter.name}" /></p>
			    </f:if>
	        </f:for>
        </p>
    </div>
</div>